/* @tailwind base;
@tailwind components;
@tailwind utilities;

section.hero {
  @apply block md:grid;
  grid-template-columns: 0.4fr 0.6fr;
}
select,
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='text'] {
  @apply block w-full mb-2 rounded-xl;
  @apply border p-2  bg-inputBlack text-lightBlack border-lightBlack;
}

input[type='email']:disabled,
input[type='password']:disabled,
input[type='tel']:disabled,
input[type='text']:disabled {
  @apply bg-lightGray cursor-not-allowed;
}

button,
.button {
  @apply flex justify-center gap-2 block w-full text-gray font-semibold;
  @apply border border-lightBlack rounded-xl px-6 py-2;
}
button[type='submit'],
.submit,
button.primary {
  @apply border-primary bg-primary text-lightBlack;
}
button[type='submit']:disabled,
.submit:disabled {
  @apply cursor-not-allowed bg-gray;
}

label {
  @apply text-gray text-sm leading-tight;
}
label + input {
  margin-top: -2px;
}
div.tabs > * {
  @apply bg-lightBlack text-white rounded-full py-2 px-4 border-white;
}
div.tabs > *.active {
  @apply bg-primary text-lightBlack;
}

.flying-button-parent button {
  @apply border-primary text-lightBlack bg-primary rounded-full;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

section.hero {
  @apply block md:grid;
  grid-template-columns: 0.4fr 0.6fr;
}
select,
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='text'] {
  @apply block w-full mb-2 rounded-xl;
  @apply border p-2  bg-color_4 text-white border-color_3;
}

option {
  @apply block w-full mb-2 rounded-xl  pl-10;
  @apply font-sans;
}

#target {
  @apply block  rounded-xl;
  @apply border p-2 text-white bg-color_4 border-color_3;
  /* @apply w-1/4; */
}

input[type='email']:disabled,
input[type='password']:disabled,
input[type='tel']:disabled,
input[type='text']:disabled {
  @apply text-white bg-color_4 border-color_3 cursor-not-allowed;
}

button,
.button {
  @apply flex justify-center gap-2 block w-full text-white font-semibold;
  @apply border border-color_1 rounded-xl px-6 py-2;
}
button[type='submit'],
.submit,
button.primary {
  @apply border-primary bg-primary text-white bg-color_2;
}
button[type='submit']:disabled,
.submit:disabled {
  @apply cursor-not-allowed bg-gray;
}

label {
  @apply text-white text-sm leading-tight;
}
label + input {
  margin-top: -2px;
}
div.tabs > * {
  @apply text-color_3 rounded-full py-2 px-4 border-white;
}
div.tabs > *.active {
  @apply bg-secondary text-primary;
}

.flying-button-parent button {
  @apply border-primary text-white bg-primary rounded-full;
}

placeholder {
  @apply placeholder-color_1;
}

html {
  scroll-behavior: smooth;
}

h1 > a > .icon.icon-link:before,
h2 > a > .icon.icon-link:before,
h3 > a > .icon.icon-link:before {
  content: '#';
  font-size: 0.8rem;
}

h2 > a,
h3 > a {
  text-decoration: none !important;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

[data-highlighted-line] {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 2px;
  padding-left: 0;
  padding-right: 4px;
  border-radius: 2px;
  border-left: 2px solid #1b1b1b;
}

[data-highlighted-chars] {
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding: 2px;
  border-radius: 2px;
}

[data-rehype-pretty-code-fragment] {
  position: relative;
}

[data-rehype-pretty-code-title] {
  position: absolute;
  right: 0;
  background-color: #1b1b1b;
  color: #fff;
  padding: 4px 8px;
  font-size: 1rem;
  border-end-start-radius: 4px;
}

[data-rehype-pretty-code-caption] {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #747474;
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 2s linear infinite;
}
.loading-center {
  margin: 0 auto;
}
